
/*****************************************************/
/* This semester we will be using my variation of    */
/* Josh Comeau's CSS Reset instead of normalize      */
/* Read more at                                      */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*****************************************************/
/* Always add your CSS below the reset CSS           */
/*****************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  /* this an experimental line-height; if it breaks, add line-height: 1.5 to body */
  line-height: calc(1em + 0.5rem);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* until you get a feel for overflow, I'll keep these next two commented out */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */
/* p {
  overflow-wrap: break-word;
  hyphens: auto;
} */
/* temp CSS for HTML only assignments */
picture img {
  width: 100%;
}
svg {
  width: 200px;
}
/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}
/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}
/************ add your CSS here *****************/
:root {
  --color-font: #333;
  --color-primary: #fefae0;
  --color-secondary: #bc6c25;
  --color-dark-accent: #283618;
  --color-accent: #497030;
  --color-accent-light: #dda15e;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
a.button:hover {
  color: var(--color-secondary);
  transition: 0.7s;
}
a[href]:hover {
  color: #dda15e;
  transition: 300ms;
}
a {
  text-decoration: none;
}
.button {
  background-color: var(--color-primary);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: var(--color-secondary);
  transition: background-color 300ms ease;
}
body {
  font-family: "istock web", sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
}
main {
  align-self: center;
  padding: 0 var(--gutter);
  max-width: 70rem;
}
.hero .text-wrapper {
  position: absolute;
  inset: 0;
  text-align: center;
  color: var(--color-secondary);
  padding: 0 var(--gutter);
  display: flex;
  flex-direction: column;
}
.hero h1 {
  font-family: "pacifico", cursive;
  color: var(--color-secondary);
  margin: 0;
  padding-top: 5rem;
  text-align: center;
  font-size: clamp (5rem, 14vw + 1rem, 14rem);
  font-weight: 600;
  line-height: 1;
  text-shadow: 3px 3px 4px black;
}
.hero p {
  font-family: "Istok Web", sans-serif;
  color: var(--color-secondary);
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}
.hero {
  position: relative;
}
.hero .text-wrapper {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 30%);
}
hero.picture {
  height: 100%;
}
picture img {
  height: 100%;
  object-fit: cover;
  object-position: left center;
}
/* default menu icon on mobile is a fixed round icon in the top left of the viewport */
.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 1.5rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #333;
  z-index: 2;
}
.menu-icon line {
  stroke: #fff;
  stroke-width: 3px;
  stroke-linecap: round;
  transform-origin: center;
  transition: transform 300ms ease;
}
.menu-icon line:first-child {
  transform: translateY(16%);
}
.menu-icon line:last-child {
  transform: translateY(-16%);
}
/* JavaScript toggles a "close" class on the <nav> when the menu-icon is clicked */
.close line:first-child {
  transform: rotate(135deg);
}
.close line:last-child {
  transform: rotate(-135deg);
}
/* .close header {
  visibility: hidden;
} */
.close header nav {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  margin-bottom: var(--gap);
  visibility: visable;
}
.close nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.close nav a {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: var(--half-gap) var(--gutter);
  padding: 1rem;
  color: var(--color-secondary);
  display: inline-block;
}
/**** Menu ****/
header {
  margin-bottom: var(--gap);
}
/* header {
  visibility: hidden;
  margin-bottom: var(--gap);
} */
header ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header nav a {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: var(--half-gap) var(--gutter);
  padding: 1rem;
  color: var(--color-secondary);
  display: inline-block;
}
header nav a[href]:hover {
  color: var(--color-secondary);
  text-shadow: 1px 1px 2px #9e9e9e64;
}
header nav a[href]::after {
  content: "";
  position: absolute;
  display: block;
  inset: auto 0.5rem 0;
  height: 3px;
  background-color: var(--color-secondary);
}
header nav a[href]::after {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
header nav a[href]:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
h1 {
  font-size: 3.5rem;
  color: var(--color-dark-accent);
  font-family: "Pacifico", cursive;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
h2 {
  font-size: 2.5rem;
  font-family: "Pacifico", cursive;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
h3 {
  font-size: 2rem;
}
p {
  margin-bottom: 1.5rem;
  font-family: "Istok Web", sans-serif;
  color: var(--color-font);
}
article,
aside {
  margin-bottom: 6rem;
}
footer {
  background-color: var(--color-primary);
}
footer p {
  color: var(--color-secondary);
  margin: 0;
  padding: 3rem 1rem 6rem;
}
/***** Panels *****/
.panel {
  display: flex;
  flex-direction: column;
}
.panel .image-wrapper {
  order: -1;
}
/**** cards ****/
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 6rem;
}
.card {
  position: relative;
  color: #fff;
  font-family: "Istok Web", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
.card:hover p {
  background-color: rgb(0 0 0 / 60%);
  transition: background-color 400ms ease-in-out;
}
.card p {
  position: absolute;
  color: #fff;
  inset: 0;
  margin: 0;
  line-height: 1;
  padding: 30% var(--gutter) 1rem;
  background-color: rgb(0 0 0 / 0%);
}
/***** Media queries *****/
@media (min-width: 500px) {
  .panel {
    flex-direction: row;
  }
  .panel h2 {
    margin: 0;
  }
  .panel .text-wrapper {
    flex: 1 1 40%;
  }
  .panel .image-wrapper {
    order: 0;
    flex: 1 1 60%;
  }
}
@media (min-width: 300px) {
  .card {
    flex-basis: calc(100% - 20px);
  }
}
@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 20px);
  }
}
@media (min-width: 1000px) {
  .card {
    flex-basis: calc(25% - 20px);
  }
}
@media (min-width: 500px) {
  .menu-icon {
    display: none;
  }
